      .w { background-color: green; }
      .f { background-color: lightgrey; }
      .t { background-color: yellow; }
      .l { background-color: red; }
      .x { background-color: purple; }
      .v { background-color: black; }
      .o { background-color: lightblue; }
      .g { background-color: grey; }
      .p { background-color: white; }
      .d { background-color: orange; }
      body { background-color: black; }

      #notification {
	  min-height: 50px;
	  padding: 10px;
      }
      p {
	  background-color: lightgrey;
      }
