.w { background-image: url(img/w.png) }
.f { background-image: url(img/f.png) }
.t { background-image: url(img/t.png), url(img/l.png) }
.l { background-image: url(img/l.png) }
.x1 { background-image: url(img/x1.png), url(img/f.png) }
.x2 { background-image: url(img/x2.png), url(img/f.png) }
.x3 { background-image: url(img/x3.png), url(img/f.png) }
.v { background-color: black; }
.g { background-image: url(img/gl.png), url(img/f.png) }
.gr { background-image: url(img/gr.png), url(img/f.png) }
.p { background-image: url(img/p.png), url(img/f.png) }
.dn { background-image: url(img/dn.png), url(img/w.png) }
.ds { background-image: url(img/ds.png), url(img/w.png) }
.de { background-image: url(img/de.png), url(img/w.png) }
.dw { background-image: url(img/dw.png), url(img/w.png) }
.an { background-image: url(img/an.png); }
.as { background-image: url(img/as.png); }
.ae { background-image: url(img/ae.png); }
.aw { background-image: url(img/aw.png); }
.ss { background-image: url(img/ss.png); }
.sw { background-image: url(img/sw.png); }
.sa { background-image: url(img/sa.png); }
.o { background-image: url(img/o.png); }
.player { background-image: url(img/player.png) }
table { background-color: black; margin: 10px; float: left; }
td { padding: 0; position: relative; }
table span { width: 100%; height: 100%; display: block; position: absolute;
       left: 0; top: 0}
#chatbox {
    border: thin solid black;
    height: 400px;
    width: 400px;
    padding: 5px;
}
#chatbox > * {
    height: 20px;
}
#chatbox #chat {
    height: 350px;
    overflow: auto;
    margin: 5px 0;
}
#chatbox input {
    width: 380px;
}
#chatbox .info {
    color: #00f;
}
#chatbox .warn {
    color: #f00;
}


#controls {
    float: left;
}
#controls > p {
    width: 400px;
}
#main {
    overflow: hidden;
    margin: auto;
    width: 1000px;
}

.flavor {
    font-style: italic;
}

.testsolver-note {
    background-color: #f88;
}
